.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
  color: #444444;
}

.price {
  margin-top: 0.8rem;
  font-weight: lighter;
  color: #444444;
  font-size: 1.6rem;
}
